@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

body {
    background-color: #e8f7ee;
    font-family: 'Ubuntu';
    padding: 40px;
    margin: 0;

  }
  
  div#container {
    background-color: #fff;
    overflow: hidden;
    position: relative;
    z-index: 3;
    width: 500;
    margin: auto;
    padding: 50px 30px 38px;
    border-radius: 1.25rem;
    text-align: center;
    box-shadow: 0 100px 100px  rgba(0, 0, 0, 10%);

    
    
    
    
    /*text-align: center;
    padding:50px;
    background-color: #b8c4bb;
    margin: auto;
    border-radius: 15px;*/
  }
  
  input#inputWeight {
    font-family: 'Ubuntu';
    font-size: 16px;
    padding: 8px;
    border: none;
    border-radius: 4px;
    width: 200px;
    background-color: #e8f7ee;
    color: #03001C;
  }

  input#inputWeight:hover {
    background-color: #c9d6ea;
  }

  div#checkbox {
    margin: auto;
    padding: 20px;
    justify-content: space-evenly;
  }

  input#unilateralSwitch {
    accent-color: #e8f7ee;  
  }


  button#calculateButton {
    font-family: 'Ubuntu';
    font-size: 16px;
    padding: 8px 16px;
    background-color: #e8f7ee;
    color: #03001C;
    border: none;
    border-radius: 4px;
  }
  
  button#calculatebutton:hover {
    background-color: #c9d6ea;
  }

  div#result {
    background-color: #e8f7ee;
    color: #03001C;
    padding: 20px;
    border-radius: 4px;
    width: 400px;
    margin: auto;
    text-align: left;
  }
  
